@media (min-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "navi head head head head head"
      // "navi head head head head head"
      "navi main main main main main"
      "navi main main main main main"
      "navi main main main main main"
      "navi main main main main main";
    gap: 10px;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 100% ;
  }
  .main__content {
    grid-area: main;
  }
  .data__sections--wrap {
    grid-template-areas:
      "pie pie player player league league"
      "pie pie team team league league"
      "form form form form league league"
      "form form form form league league";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .player__stats--wrap{
    height: 100%;
  }

  .team__stats--wrap{
    bottom: 0;
    height: 100%;
  }

  .form__stat--wrap{
    bottom: 0;
  };

  .form__stat--content{
    max-width: 100%;
  }

  .pie__chart--title{
    height: 20%;
  }
  .pie__chart--content{
    width: 275px;
  }

  //****//
  // Header styles
  header {
    grid-area: head;
    height: 15vh;
    width: 100%;
    grid-template-areas:
      "title title . . . navT"
      ". . . . . ."
      "name name . . search search";
    //   grid-template-rows: 1fr 1fr 1fr ;
  }
  .nav__top {
    height: 100%;
    justify-content: flex-end;
  }
  .theme__toggle--wrap {
    width: 100%;
  }
  .burger__wrap {
    display: none;
  }
  .title__logo {
    flex-direction: row;
    justify-content: flex-start;
  }
  .logo {
    display: none;
  }
  .title {
    h1 {
      font-size: 1.5rem;
    }
  }
  .search__wrap{
    justify-content: flex-end;
  }
  .search__input {
    max-width: 100%;
    input {
      border-radius: 40px;
      font-size: 0.7rem;
      padding: 5% 12%;
    }
    .search__icon {
      top: 10px;
      left: 10px;
    }
  }
  .team__name--wrap {
    grid-area: name;
    text-align: left;
    h4 {
      font-size: 2.8rem;
    }
  }
  //
  .nav__slide {
    display: flex;
    width: 10rem;
    height: 100%;
    position: relative;
    grid-area: navi;
    border-radius: 20px;
    .slide__logo{
    span{
      display: none
    }
    }
  }
} ;
