.fixtures__section--wrap{
    display: none;
    grid-template-areas:
    ". title title ."
    "cont cont cont cont"
    "cont cont cont cont"
    "cont cont cont cont"
    ;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.fixtures__section--title{
    grid-area: title;
    padding: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixtures__section--content{
    grid-area: cont;
    width: 100%;
    overflow: scroll;
}

.fixture{
background-color: var(--secondary-color);
width: 75%;
margin: 15px auto;
padding: 1%;
font-size: 0.8rem;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 60px;
}


// .fixture__competition{
// }

// .fixture__time{
// }

// .fixture__teams{
// }