.fixtures__section--wrap{
    display: none;
    grid-template-areas:
    ". title title ."
    "cont cont cont cont"
    "cont cont cont cont"
    "cont cont cont cont"
    ;
    height: 100%;
    width: 100%;
}

.fixtures__section--title{
    grid-area: title;
    height: 10%;
    padding: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixtures__section--content{
    grid-area: cont;
    width: 100%;
}

.fixture{
background-color: $secondary-color-light;
width: 75%;
margin: 0 auto;
padding: 2%;
}

.fixture__date{

}

.fixture__competition{

}

.fixture__time{

}

.fixture__teams{

}