.prediction__section--wrap{
    height: 100%;
    width: 100%;
    display: none;
    background-color: $secondary-color-light;
}

.prediction__chart--wrap{
    position: relative;
    height: 100%;
    width: 100%;
}