.active__tab{
    display: grid;
}

.active__slide--nav{
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px); // might not work mobile
    -webkit-backdrop-filter: blur(30px); // this helps
}

// .active__tab--fixtures{
//     display: block;
// }

// .unActive__tab{
//     display: none;
// }