// Dark-Mode Colours
$primary-color-dark: #131326;
$secondary-color-dark: #222536;
$flair-color-dark: #C65300;
$text-color-dark:#F8F9FE;    
$shade-color-dark:rgba(255,255,255, 0.05);
// Light-Mode Colours
$primary-color-light: #F2F2F8;
$secondary-color-light:rgba(34, 169, 227, 0.25);
$flair-color-light: #22A9E3;
$text-color-light: #0E0D0D;
$shade-color-light:rgba(10,9,9, 0.05);
// Font family
$font-poppins:'Poppins', sans-serif;