@import "variables";
@import "dataSection";
@import "dataSectionTablet";
@import "mainSection";
@import "sideNav";
@import "header";
@import "headerTablet";
@import "historySection";
@import "fixturesSection";
@import "desktop";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    // height: 100%;
    width: 100vw;
}

body{
    padding: 5%;
    background-color: $primary-color-light;
    font-family: $font-poppins;
}

@media (min-width:1000px){
    body{
        padding: 2%;
    }
}


